body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #B3B5AE;
    color: #333;
}
h1 {
    color: #2C3E50;
    text-align: center;
}
#img {
    text-align: center;
}
/* Button styles */
.btn {
    background-color: #3498DB;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #BBBFBC;
}
/* Flexbox container */
.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container {
    flex: 1;
}
.footer {
    background-color: #F8F9FA;
    padding: 1rem 0;
    margin-top: auto;
    position: relative;
    width: 100%;
}
.list-inline {
    padding: 0;
    list-style: none;
}
.list-inline-item {
    display: inline;
    margin-right: 1rem;
}