{% extends 'base.html' %}

{% block content %}

<h1>{{ object.title }}</h1>
    <div class="text-center">
    {% if product.product_image %}
        <img src="{{ product.product_image }}" alt="{{ product.title.title }}" style="max-width: 200px;">
    {% endif %}
    </div>
<p>Description: {{ object.description }}</p>
<p>Price: {{ product.price }}</p>
<p>Seller: {{ product.seller }}</p>
<p>Rating: {{ product.rating }}</p>

    <form method="post" action="{% url 'accounts:add-to-cart' product.id %}">
        {% csrf_token %}
        <label for="quantity_{{ product.id }}">Quantity:</label>
        <input type="number" id="quantity_{{ product.id }}" name="quantity" value="1" min="1">
        <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>

<h2>Seller</h2>
<ul>
    <p> {{ seller }} </p>
    {% comment %}
    <a href="{% url '' %}"></a>
    {% endcomment %}
    {% if product.seller.logo %}
        <img src="{{ product.seller.logo }}" alt="{{ product.seller.seller }}" style="max-width: 100px;">
    {% endif %}
</ul>
<img src=" ">

{% endblock %}