{% extends 'base.html' %}
{% block content %}

<h1>Welcome to ShopHunters!</h1>
    <div class="text-center" >
    <a class="mx-auto" href="#">
      <img src="https://th.bing.com/th/id/R.a151756a5f3ad9b845ccec8415a6f44b?rik=jqofstf%2fIy9JOA&pid=ImgRaw&r=0" alt="Bootstrap" class="rounded" width="300" height="240" >
    </a>
    </div>
<ul>
    {% for product in product_list %}
    <li>
        <a href="{% url 'product-view' product.pk %}"> {{ product.title }} </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}