{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'cart.js' %}"></script>
<h1>Your cart</h1>
    {% if cart != "" %}
        <ul>
            {{ cart }}

            <style>
                table, th, td {
                  border:1px solid black;
                }
            </style>
            <table style="width:100%" class="cart-table">
                <tr>
                    <th>Product </th>
                    <th>Quantity </th>
                    <th>Price </th>
                    <th>Delete </th>
                </tr>
                {% for item in cart.order_lines.all %}
                <tr>
                    <td> {{ item.product }} </td>
                    <td> {{ item.quantity }} </td>
                    <td> {{ item.product.price }} </td>
                    <td><a href="{% url 'accounts:delete' item.pk %}" class="remove-item-btn"> Yes to confirm</a></td>
                </tr>
            {% endfor %}
            </table>

            <h3 id="cart-total-cost">Total cost: ${{ cart.order.total_cost }}</h3>

        <!-- Add Product Button -->
        <a href="http://127.0.0.1:8000/" class="btn btn-primary">Add products</a><p></p>

        <form action="{% url 'accounts:payment_proceed' %}">
        {% csrf_token %}
        {{ form }}
            <input type="submit" value="Payment" class="btn btn-success">
        </form>
    {% else %}
    <p>Your cart is empty</p>
    <a href="http://127.0.0.1:8000/" class="btn btn-primary">Add products</a>

    {% endif %}
{% endblock %}
